<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        {{ partial "features.html" . }}

        <section class="bar background-pentagon no-mb">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="heading text-center">
                          <h2>{{ .Site.Params.testimonials.title }}</h2>
                      </div>
      
                      <p class="lead" style="word-wrap: break-word;">
                        {{ .Site.Params.testimonials.subtitle | markdownify }}
                      </p>
                  </div>
                  <div class="col-md-12">
                      <div class="heading text-center">
                          <h2>{{ .Site.Params.testimonials.title }}</h2>
                      </div>
      
                      <p class="lead" style="word-wrap: break-word;">
                        {{ .Site.Params.testimonials.subtitle | markdownify }}
                      </p>
                  </div>
                  <div class="col-md-12">
                      <div class="heading text-center">
                          <h2>{{ .Site.Params.testimonials.title }}</h2>
                      </div>
      
                      <p class="lead" style="word-wrap: break-word;">
                        {{ .Site.Params.testimonials.subtitle | markdownify }}
                      </p>
                  </div>
      
              </div>
          </div>
        </section>

        <!-- Raisee -->
        <section class="bar background-gray no-mb">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <h1 style="margin-bottom: 40px;">RAISEE Organization</h1>
                <p class="lead">Rewards</p>
                <p class="lead">Awareness</p>
                <p class="lead">Investigation</p>
                <p class="lead">Safety</p>
                <p class="lead">Education</p>
                <p class="lead">Elderly</p>
              </div>
            </div>
          </div>
        </section>
        <!-- end -->
        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>